<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /kud-karyamandiri/

    # Redirect to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Security: Disable directory browsing 
Options -Indexes
